@media (min-width:1200px) {
	.container {
		max-width: 1500px
	}
}
@media (min-width:1200px) {
	.container,
	.container-lg,
	.container-md,
	.container-sm,
	.container-xl {
		max-width: 1500px
	}
}

.dataframe {
    font-size: 0.75em; 
    border-collapse: collapse; 
    border: 1px solid silver;

}

.dataframe td, th {
    padding: 5px;
}

.dataframe tr:nth-child(even) {
    background: #E0E0E0;
}

.dataframe tr:hover {
    background: silver;
    cursor: pointer;
}

h1 {
	font-size: 2.5em;
	font-weight: bold;
}

h2 {
	font-size: 2.0em;
	font-weight: bold;
}

h3 {
	font-size: 1.75em;
	font-weight: bold;
}

h4 {
	font-size: 1.5em;
	font-weight: bold;
}